.bgpage{
    background-color: #fff8f7;
    max-height:730px;
    overflow-y:scroll;
    width:90%;
}
.container{
    display: flex;
    width: 100%;
    box-shadow: 2px 3px 2px #EBE7E6;
    background-color: white;    
}
.inp{
    width: 60%;
}
.inp>input{
    width: 100%;
    height: 60px;
    margin-left: 20px;
    font-size: large;
    outline: none;
    border: none;
}
.tagicon>img{
    transform: rotate(270deg);
    margin-top: 20px;
    margin-left: 20px;
    width: 22px;
}
.doler{
    margin-left: 25px;
    font-size: 20px;
    margin-top: -4px;
}
.creatediv{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 700px;
}
.dayPart{
    display: flex;
    justify-content: space-between;
}
.inpProjName{
    border-radius: 5px;
    width: 250px;
    border: 1px solid grey;
    height: 21px;
}
.crPrJct > span{
    color: #E57CD8;
    font-size: 25px;
    margin-right: 10px;
}
.golaa{
    font-size: 8px;
    margin-right: 12px;
    margin-left: 10px;
}
.titleDownnContent{
    width: 20%;
    text-align: left;
}
.projectNameContent{
    width: 20%;
    text-align: left;
}
.titleTimeContent{
    width: 20%;
    text-align: left;
}
.totalTimeContent{
    width: 20%;
    text-align: left;
}
.DownnContentMain{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 0px;
}