.cont{
    background-color: rgba(65,42,76,255);
}
.wrap {
    text-align: center;
     width:100%;
     height:450px;
     background-image: url("https://public-assets.toggl.com/b/static/a848ad9070fcf959a459fa1e878d2abb/c0583/hero-laptops.jpg");
     color: white;
     z-index: -1;
  }
.hidden{
    display: none;
}

.main{
    background-color:rgb(44,19,56);
    width: 40%;
    margin: auto;
    padding:4%;
    height:580px;
    margin-top: -80px;
    z-index: 1;
}
.forgot {
    color: white;
    font-weight: 700;
    border-bottom: 0.5px solid rgb(229,124,216);
}
.h2log{
    font-family: 'GT Haptik Medium',sans-serif;
}
.bottom > p{
    margin-top: 4%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.bottom > button {
    width:15%;
    justify-content: center;
    height:45px;
    border-radius: 15px;
    background-color: rgb(229,124,216);
    color: white;
    margin-bottom: 5%;
}
.bottom {
    text-align: center;
}
.h3log{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.333;
    margin-top: -5%;
    text-align: center;
    margin-bottom: 15px;
}

.btn2log{
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 1rem;
    padding: 14px 50px;
    background-color: #E57CD8;
    color: #FFF;
    text-align: center;
    width:100%;
    border-radius: 25px;
    margin-top: 10px;
    box-sizing: border-box; 
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.28;
    
}

.btn2log:hover{
    background-color: rgba(65,42,76,255);
}
 .google{
     background-color: white;
     width:50%;
     margin-left:10px;
     margin:auto;
     color: black;
     font-size: 18px;
     justify-content: center;
     height: 50px;
     border-radius: 25px;
 }
 .forms > label{
    color:white;
    font-size: 25px;
 }
 .forms > input {
    background: transparent;
    border: 2px solid rgb(171,160,175);
    height: 50px;
    width: 100%;
   margin-top: 5px;
   margin-bottom: 30px;
    padding-left: 15px;
    caret-color: #2C1338;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.28;
    color: #FCE5D8;
 }
 .top{
     width:100%;
     margin:auto;
     display:flex;
     gap:20px;
     margin-top: 5%;
 }
 
   
.centered {
    position: absolute;
    top: 50%;
    left: 20%;
    margin-top: -240px;
    color:rgb(255,243,237);
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 70px;
  }

  .btnlog{
      width: 150px;
      font-family: 'GT Haptik Medium',sans-serif;
      font-size: 1rem;
      padding: 14px 50px;
      background-color: #E57CD8;
      color: #FFF;
      text-align: center;
      border-radius: 25px;
      font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.28;
}

  .btn3log{
    width: 500px;
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 1rem;
    padding: 14px 50px;
    background-color: white;
    color:black;
    text-align: center;
    border-radius: 25px;
    font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.28;
}
  .googleimg{
      width:20px;
      height: 20px;
     
  }