.cont {
    width:13%;
    background-color: rgb(44,19,56);
    height:100vh;
    padding:2px;
    overflow-y: hidden;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 2%;
}
.cont2::-webkit-scrollbar{
    width: 2px;
    border-radius: 2rem;
    /* background-color: palevioletred; */
}
.cont2::-webkit-scrollbar-thumb{
    background-color:#DD6FD1;
}
.cont1{
    height: 10vh;
}
.cont2{
   height:67vh;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}
.cont3{
    padding: .5rem 0px;
    height: 20vh;
}

.panel {
    display: flex;
    gap:20px
}
.icons {
    width:20px;
    height:20px
}
.para {
    color: rgb(101,81,109);
    font-size: 15px;
    font-weight: bolder;
}
.links {
    color: rgb(198,174,177);
    text-decoration: none;
    margin-left: 10%;
    font-weight: bolder;
}
.outer {
    padding: 5px
}
.links:hover{
    color: white
}

