.first{
    background-color: white;
    height:60px;
    display: flex;
    padding:5px 15px ;
    justify-content: space-between;
    color: rgb(103,85,111);
    
}
.first > button{
    width:11%;
    margin-top: 8px;
    background-color: rgb(221,111,209);
    color: white;
    font-size: 16px;
    height:40px;
    outline: none;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}
.second {
    display: flex;
    gap:20px;
    height:40px;
    padding:8px;
    border: 0.5px solid rgb(232,232,232);
    background-color: white;
    box-shadow: 10px rgb(232,232,232);
    color:rgb(103,85,111);
}
.second > select {
    border: 1px solid gray;
    height:40px;
    border-radius: 5px;
    width:10%;
    padding:10px;
    color: grey;
}
.second > p {
    color: grey;
    margin-top: 8px;
    font-size: 14px;
    margin: 1px 6px;
    margin-right: 0px;
}
.second > button {
    background-color: white;
    height:40px;
    border-radius: 5px;
    color: grey;
    margin-top: 2px;
    border: none;
    outline: none;
    font-size: 16px;
}
.second > button:hover{
    background-color: rgb(245,243,245);
}
.cont {
    width:90%;
    background-color: rgb(254,249,248);
}
.imgs {
    width:15px;
    height:15px;
    margin-right: 10px;
}   

.third {
 background-color: white;

}
.cont > p {
    margin-left: 20px;
}
.details {
    width:60%;
    background-color: white;
    height:150x;
    margin-left: 20px;
    padding: 2% 1% 2% 3%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}
.details > div > button {
    background-color: #F5F3F5;
    color: rgb(209,209,209);
    outline: none;
    border: none;
    margin-left: 80%;
    width:15%;
    height:40px;
    border-radius: 5px;

}
.details > div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    color: rgb(154,142,159);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    gap:60%;
}
.details > div:nth-child(3) {
    display: flex;
    font-weight: 500;
    gap:58.5%;

    color: black;
    text-align: left;
}
.bulk {
    background-color: white;
    height:35px;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    width: 8%;
}
.headingProjsXYZ > div{
    width: 10%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}
.fetchcontentXYZ > div{
    width: 10%;
    text-align: left;
    color: black;
    font-size: 13px;
}
.fetchcontentXYZ > span{
    color: black;
}
.dot3btnProj{
    visibility: hidden;
    width: 15px;
    position: relative;
    left: 9vw;
}
.whiterDiv{
    width: 70%;
    margin-left: 10px;
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 6px 0px;
    border-radius: 8px;
    min-width: 700px;
    margin-top: -7px;
}
.whiterDiv > div > div > button {
    font-size: 14px;
    border: 1px solid gray;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 11px 30px;
    border-radius: 10px;
    margin-left: 74%;
    margin-top: 10px;
}
.allMembRole{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.allMembRole > p{
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
.getNameManage{
    display: flex;
}
.projClocked{
    position: absolute;
    top: 11vw;
    right: 11vw;
}
.projClocked{
    position: absolute;
}
#overProjView{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
#clckHour{
    color: gray;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
#clckHourTiming{
    color: gray;
    font-size: 23px;
    font-weight: 500;
    margin-top: 0px;
    line-height: 36px;
}
.inside {
    display:flex;
    gap:10px;
}
.times{
    display: flex;
    gap:30px;
    color: #7B7B7B
}
.showtime{
    font-size: 30px;
}
.searchInput{
    display: none;
    position: absolute;
    top: 19%;
    left: 45%;
}
.searchInput > input{
    height: 23px;
    width: 200px;
}
.delWaliList{
    visibility: hidden;
    position: relative;
    top: 4vw;
    right: 0vw;
    transition: opacity .3s;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 #d5d0d7;
    background: #fff;
    margin-top: 5px;
}